page-home {
    text-align: center;
    p {
        font-size: 11px;
    }
    img {
        max-width: 100%;
        border: 0;
        max-height: 60vh;
        margin-top: 25px;
        cursor: pointer;
    }
}
