<ion-header>
    <ion-navbar color="primary">
        <ion-toolbar position="top">
            <ion-title>{{ diet.name }}sss</ion-title>
            <ion-buttons right>
                <button ion-button icon-only (click)="openMenuDialog($event)">
                    <ion-icon name="more"></ion-icon>
                </button> 
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
</ion-header> 

<ion-content padding>
    <ion-list>
        <ion-item>
            <p class="info-element">Date</p>
            <p item-end>
                {{ diet.startDate | date:"dd MMMM y" }} - {{ diet.endDate | date:"dd MMMM y" }}
            </p>
        </ion-item>
        <ion-item>
            <p class="info-element">Progress</p>
            <p item-end>
                {{ dietSummary.currentDay }} / {{ diet.duration }} ({{ dietSummary.progress }}%)
            </p>
        </ion-item>
        <ion-item>
            <p class="info-element">Goal</p>
            <p item-end>
                {{ diet.startWeight | number:".2-2" }} kg -> {{ diet.endWeight | number:".2-2" }} kg
            </p>
        </ion-item>
        <ion-item>
            <p class="info-element">Today's max weight</p>
            <p item-end>
                {{ dietSummary.allowedWeight | number:".2-2" }} kg
            </p>
        </ion-item>
        <ion-item *ngIf="dietSummary.dietActive && dietSummary.allowedToEat !== null">
            <p class="info-element">Allowed to eat today</p>
            <p item-end [class.red]="dietSummary.allowedToEat <= 0" [class.green]="dietSummary.allowedToEat > 0">{{ dietSummary.allowedToEat }} g</p>
        </ion-item>
        <ion-item *ngIf="dietSummary.dietActive && dietSummary.allowedToEat === null">
            <p class="red center">No measurements today!</p>
        </ion-item>
        <ion-item *ngIf="!dietSummary.dietActive">
            <p class="red center">Diet inactive!</p>
        </ion-item>
    </ion-list>
    <ion-segment [(ngModel)]="mode" color="primary">
        <ion-segment-button value="graph">Summary</ion-segment-button>
        <ion-segment-button value="measurements">Measurements</ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="mode">

        <ion-list *ngSwitchCase="'graph'">
            <div class="graph-container" *ngIf="graphOptions">
                <canvas baseChart width="400" height="400" [datasets]="graphData" [options]="graphOptions" [legend]="false" [chartType]="'scatter'"></canvas>
            </div>
        </ion-list>

        <ion-list *ngSwitchCase="'measurements'">
            <ion-item-sliding *ngFor="let measurement of diet.measurements">
                <ion-item>
                    <p class="info-element">{{ measurement.date | date:"dd MMMM y, HH:mm" }}</p>
                    <p item-end>
                        {{ measurement.weight | number:'.2-2' }} kg
                    </p>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" class="delete" (click)="removeMeasurement(measurement)">
                        <ion-icon name="trash"></ion-icon>
                        Delete
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

    </div>

    <ion-fab right bottom>
        <button ion-fab mini color="danger" (click)="addNewMeasurement()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>