<ion-header>
    <ion-navbar color="primary">
        <ion-toolbar position="top">
            <ion-title>List of diets</ion-title>
            <ion-buttons right>
                <button
                    ion-button
                    icon-only
                    (click)="openNewDietDialog($event)"
                >
                    <ion-icon name="more"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="diets">
        <button
            ion-item
            *ngFor="let diet of diets"
            (click)="editDiet(diet)"
        >
            <h2>{{ diet.name }}</h2>
            <p>{{ diet.startDate | date:"dd MMMM y" }} - {{ diet.endDate | date:"dd MMMM y" }} ({{ diet.duration }} days)</p>
        </button>
    </ion-list>
</ion-content>
